*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;  /* ✅ this centers horizontally */
    align-items: center;      /* ✅ this centers vertically */
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20%;
    /* border: none; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    color: #b0413e;
    background-color: #ffffc7;
    font-size: 30px;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 20%;

}

#new_btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 20%;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.msg_container{
    height: 30vmin;
}
.hide{
    display: none;
}